idf-build-apps>=2.16.0
pytest>=9.0.2
pytest-rerunfailures>=16.1
pytest-embedded>=2.7.0
pytest-embedded-idf>=2.7.0
pytest-embedded-serial>=2.7.0
pytest-embedded-serial-esp>=2.7.0
pexpect>=4.9.0
stm32loader>=0.7.1
