idf-build-apps>=3.0.2
pytest>=9.1.1
pytest-rerunfailures>=16.6.1
pytest-embedded>=2.9.3
pytest-embedded-idf>=2.9.3
pytest-embedded-serial>=2.9.3
pytest-embedded-serial-esp>=2.9.3
pexpect>=4.9.0
stm32loader>=0.7.1
